apiVersion: v1
kind: LimitRange
metadata:
  name: minimal-limit-range
spec:
  limits:
  - default:              
      cpu: "500m"
      memory: "512Mi"
    defaultRequest:        
      cpu: "100m"
      memory: "128Mi"
    max:                   
      cpu: "1"
      memory: "1Gi"
    min:                  
      cpu: "10m"
      memory: "64Mi"
    type: Container

